@model IndustriaComercio.Models.Model.DeclaracionPreviaModel
<!DOCTYPE html>
<html lang="es-co">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Declaracion</title>

    <!-- Bootstrap core CSS-->
    @Styles.Render("~/bundles/css")
    @{
        Layout = null;
    }
</head>

<body id="page-top">
    <div class="container" id="app">
        <div class="row">
            <div class="col">

                &nbsp;

                <center>
                    <img src="~/Content/Images/logo-alcaldia.png">
                </center>

                &nbsp;
            </div>
        </div>
        <div class="row">
            <h1>Guardado Con Éxito</h1>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/jqueryval")

</body>

</html>