@using IndustriaComercio.Common.Helpers

@model IndustriaComercio.Models.Model.DeclaracionPreviaModel

<div class="card"
     v-show="vista === 9">
    <div class="card-header">
        LIUQUIDACION PRIVADA
    </div>
    <div class="card-body">
        <!-- Valor A Pagar -->
        <div class="form-group row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.ValorPagar, htmlAttributes: new { @class = "control-label " })
            </div>
            <div class="col-md-8">
                <h4>{{ TotalSaldoCargo | formatPrecio }}</h4>
            </div>
        </div>
        <!-- Descuento Por Pronto Pago -->
        <div class="form-group row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Descuento, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                <h4>{{ TotalDescuentoSaldo | formatPrecio }}</h4>
            </div>
        </div>
        <!-- Intereses de Mora -->
        <div class="form-group row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Interes, htmlAttributes: new { @class = "control-label " })
            </div>
            <div class="col-md-8">
                <h4>{{ TotalInteresSaldo | formatPrecio }}</h4>
            </div>
        </div>
        <!-- Total a Pagar -->
        <div class="form-group row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.TotalPagar, htmlAttributes: new { @class = "control-label " })
            </div>
            <div class="col-md-8">
                <h4>{{ TotalPagar | formatPrecio }}</h4>
            </div>
        </div>
    </div>
</div>
