@using IndustriaComercio.Common.Helpers

@model IndustriaComercio.Models.Model.DeclaracionPreviaModel

<div class="card"
     v-show="vista === 2">
    <div class="card-header">
        DATOS DEL CONTRIBUYENTE
    </div>
    <div class="card-body">
        <!-- Documento REDEFINIR -->
        <div class="form-group row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.TipoDocumentoId, htmlAttributes: new { @class = "control-label" })
            </div>
            <!-- Tipo Documento -->
            <div class="col-md-3">
                <select class="form-control"
                        v-model="form.TipoDocumentoId">
                    <option v-bind:selected="form.TipoDocumentoId === 0"
                            v-bind:value="0">
                        -- Seleccione --
                    </option>
                    <option v-for="item in listaTipoDocumento"
                            v-bind:selected="form.TipoDocumentoId === item.Key"
                            v-bind:value="item.Key">
                        {{ item.Value }}
                    </option>
                </select>
                @Html.ValidationMessageFor(model => model.TipoDocumentoId, "", new { @class = "text-danger" })
            </div>
            <!-- Identificación -->
            <div class="col-md-5 input-group">
                @Html.EditorFor(model => model.NoIdentificacion,
                new
                {
                    htmlAttributes = new Dictionary<string, object>
                    () {
                    { "class", "form-control" },
                    { "v-model", "form.NoIdentificacion" }}
                })
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" 
                            type="button"
                            v-on:click="getClienteByNoDocumento(form.TipoDocumentoId, form.NoIdentificacion)">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                @Html.ValidationMessageFor(model => model.NoIdentificacion, "", new { @class = "text-danger" })
            </div>
        </div>
        <template v-if="tieneNoDocumento">
            <!-- Nombre Completo -->
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">Nombre Completo</label>
                </div>
                <div class="col-md-8">
                    <h4 v-html="cliente.NombreCompleto"></h4>
                </div>
            </div>
            <!-- Dirección completa de residencia -->
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">Dirección</label>
                </div>
                <div class="col-md-8">
                    <h4 v-html="cliente.Direccion"></h4>
                </div>
            </div>
            <!-- Municipio de residencia (Deberia ser Piedecuesta) -->
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">Municipio</label>
                </div>
                <div class="col-md-8">
                    <h4 v-html="cliente.Municipio"></h4>
                </div>
            </div>
            <!-- Deaprtamento de residencia (debería ser Santander) -->
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">Departamento</label>
                </div>
                <div class="col-md-8">
                    <h4 v-html="cliente.Departamento"></h4>
                </div>
            </div>
            <!-- Teléfono -->
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">Teléfono</label>
                </div>
                <div class="col-md-8">
                    <h4 v-html="cliente.Telefono"></h4>
                </div>
            </div>
            <!-- Correo Electrónico -->
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">Correo</label>
                </div>
                <div class="col-md-8">
                    <h4 v-html="cliente.Correo"></h4>
                </div>
            </div>
            <!-- Numero Establecimientos -->
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">Correo</label>
                </div>
                <div class="col-md-8">
                    <h4 v-html="cliente.Correo"></h4>
                </div>
            </div>
            <!-- Clasificación Contribuyente -->
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="control-label">Clasificación Contribuyente</label>
                </div>
                <div class="col-md-8">
                    <h4 v-html="cliente.ClasificacionContribuyente"></h4>
                </div>
            </div>
        </template>
    </div>
</div>
